* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    border: none;
    outline: none;
}

main {
    font-family:"Fira Code", monospace, sans-serif;
}

a {
    text-decoration: none;
}